{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - format_weight_units: {Boolean} optional display-only formatting for weight values.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type
        assign selected_display_value = option.selected_value
        assign normalized_selected_value = option.selected_value | downcase | strip | replace: ' ', ''

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif

        if format_weight_units
          if normalized_selected_value contains 'kilograms'
            assign selected_unit_value = normalized_selected_value | remove: 'kilograms'
            if selected_unit_value != blank
              assign selected_display_value = selected_unit_value | append: ' kg'
            endif
          elsif normalized_selected_value contains 'kilogram'
            assign selected_unit_value = normalized_selected_value | remove: 'kilogram'
            if selected_unit_value != blank
              assign selected_display_value = selected_unit_value | append: ' kg'
            endif
          elsif normalized_selected_value contains 'kgs'
            assign selected_unit_value = normalized_selected_value | remove: 'kgs'
            if selected_unit_value != blank
              assign selected_display_value = selected_unit_value | append: ' kg'
            endif
          elsif normalized_selected_value contains 'kg'
            assign selected_unit_value = normalized_selected_value | remove: 'kg'
            assign selected_unit_probe = selected_unit_value | remove: '0' | remove: '1' | remove: '2' | remove: '3' | remove: '4' | remove: '5' | remove: '6' | remove: '7' | remove: '8' | remove: '9' | remove: '.'
            if selected_unit_value != blank and selected_unit_probe == blank
              assign selected_display_value = selected_unit_value | append: ' kg'
            endif
          elsif normalized_selected_value contains 'grams'
            assign selected_unit_value = normalized_selected_value | remove: 'grams'
            if selected_unit_value != blank
              assign selected_display_value = selected_unit_value | append: ' g'
            endif
          elsif normalized_selected_value contains 'gram'
            assign selected_unit_value = normalized_selected_value | remove: 'gram'
            if selected_unit_value != blank
              assign selected_display_value = selected_unit_value | append: ' g'
            endif
          elsif normalized_selected_value contains 'gms'
            assign selected_unit_value = normalized_selected_value | remove: 'gms'
            if selected_unit_value != blank
              assign selected_display_value = selected_unit_value | append: ' g'
            endif
          elsif normalized_selected_value contains 'gm'
            assign selected_unit_value = normalized_selected_value | remove: 'gm'
            if selected_unit_value != blank
              assign selected_display_value = selected_unit_value | append: ' g'
            endif
          elsif normalized_selected_value contains 'g'
            assign selected_unit_value = normalized_selected_value | remove: 'g'
            assign selected_unit_probe = selected_unit_value | remove: '0' | remove: '1' | remove: '2' | remove: '3' | remove: '4' | remove: '5' | remove: '6' | remove: '7' | remove: '8' | remove: '9' | remove: '.'
            if selected_unit_value != blank and selected_unit_probe == blank
              assign selected_display_value = selected_unit_value | append: ' g'
            endif
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- selected_display_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            format_weight_units: format_weight_units
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            format_weight_units: format_weight_units
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type,
                format_weight_units: format_weight_units
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
  </variant-selects>
{%- endunless -%}
